/* Estilos globales para todos los elementos y pseudoelementos */
*::after,
*::before,
* {
    margin: 0; /* Quita márgenes por defecto */
    padding: 0; /* Quita relleno por defecto */
    box-sizing: border-box; /* Ajusta el modelo de caja */
}

/* Estilos para el cuerpo del documento */
body {
    margin: 0 auto; /* Centra el contenido horizontalmente */
    max-width: 1500px; /* Ancho máximo del cuerpo */
    font-family: 'Lato'; /* Fuente global */
    color: #000000; /* Color del texto */
}

/* Estilos para el elemento principal */
main {
    margin-top: -10px; /* Margen superior negativo */
    padding: 20px; /* Relleno */
}

/* Estilos para el pie de página */
footer {
    background-color: #000000; /* Color de fondo */
    color: #fff; /* Color del texto */
    margin-top: 100px; /* Margen superior */
    padding: 10px 20px; /* Relleno */
    text-align: center; /* Alineación del texto */
}

/* Estilo del carrusel de imágenes */
main {
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    display: block; /* Muestra como bloque */
    align-items: center; /* Centra los elementos verticalmente */
    overflow: hidden; /* Oculta el desbordamiento */
}

/* Estilos para los encabezados h2 */
h2 {
    margin-top: 100px; /* Margen superior */
    margin-bottom: -25px; /* Margen inferior negativo */
    height: -1px; /* Altura negativa */
}

/* Estilos para el contenedor principal */
.container {
    width: 100%; /* Ancho completo */
    height: 90vh; /* Altura del contenedor */
    display: flex; /* Utiliza flexbox */
    flex-direction: row; /* Dirección de los elementos */
    overflow: hidden; /* Oculta el desbordamiento */
    margin-top: -60px; /* Margen superior negativo */
}

/* Estilos para el contenedor de imágenes */
.imgContainer {
    width: 100%; /* Ancho completo */
    height: 600px; /* Altura fija */
    position: absolute; /* Posición absoluta */
    left: 0; /* Posición izquierda */
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    transition: 1s; /* Transición suave */
}

/* Estilos para las imágenes dentro del contenedor */
.imgContainer img {
    object-fit: contain; /* Ajusta la imagen */
}

/* Estilos para los contenedores deslizantes */
.slide_div {
    display: flex; /* Utiliza flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    margin: 0 10px; /* Márgenes horizontal */
}

/* Estilos para las imágenes */
img {
    position: relative; /* Posición relativa */
    height: 370px; /* Altura fija */
    width: 240px; /* Ancho fijo */
    filter: saturate(10%); /* Saturación del color */
    transition: 0.7s; /* Transición suave */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
    border-radius: 20px; /* Bordes redondeados */
}

/* Estilos para los botones */
.button {
    position: absolute; /* Posición absoluta */
    width: 240px; /* Ancho fijo */
    height: 370px; /* Altura fija */
    transition: 0.7s; /* Transición suave */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
    border-radius: 20px; /* Bordes redondeados */
}

/* Estilos para los botones al pasar el ratón */
.button:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente */
}

/* Estilos para los elementos del carrusel al estar seleccionados */
#slider1:target ~ .imgContainer #img1,
#slider1:target ~ .imgContainer #button1,
#slider2:target ~ .imgContainer #img2,
#slider2:target ~ .imgContainer #button2,
#slider3:target ~ .imgContainer #img3,
#slider3:target ~ .imgContainer #button3,
#slider4:target ~ .imgContainer #img4,
#slider4:target ~ .imgContainer #button4,
#slider5:target ~ .imgContainer #img5,
#slider5:target ~ .imgContainer #button5 {
    width: 390px; /* Ancho ajustado */
    height: 470px; /* Altura ajustada */
    background-color: transparent; /* Fondo transparente */
    filter: saturate(100%); /* Saturación total del color */
}

/* Estilos para la posición del contenedor de imágenes al seleccionar un slider */
#slider1:target ~ .imgContainer {
    left: 60%; /* Posición izquierda */
}
#slider2:target ~ .imgContainer {
    left: 30%; /* Posición izquierda */
}
#slider3:target ~ .imgContainer {
    left: 0%; /* Posición izquierda */
}
#slider4:target ~ .imgContainer {
    left: -30%; /* Posición izquierda */
}
#slider5:target ~ .imgContainer {
    left: -60%; /* Posición izquierda */
}

/* Estilos para la segunda sección del contenedor */
.container2 {
    font-size: 20px; /* Tamaño de la fuente */
    display: grid; /* Utiliza grid */
    grid-template-columns: 1fr 1fr; /* Columnas de la grid */
    align-items: center; /* Centra verticalmente */
    height: 180px; /* Altura fija */
}

/* Estilos para las diferentes clases dentro del contenedor */
.Cantidades {
    margin-left: -409px; /* Margen izquierdo negativo */
}
.descripcion {
    margin-left: -520px; /* Margen izquierdo negativo */
}
.parrafos {
    margin-left: -576px; /* Margen izquierdo negativo */
}
.precio {
    margin-left: -576px; /* Margen izquierdo negativo */
}

/* Estilos para los elementos SVG */
svg {
    width: 15px; /* Ancho fijo */
}

/* Estilos para el tercer contenedor */
.container3 {
    margin-top: 30px; /* Margen superior */
}

/* Parte del input para agregar al carrito de compras */
.formulario__grupo-input {
    position: relative; /* Posición relativa */
    margin-top: -30px; /* Margen superior negativo */
}

/* Estilos para las etiquetas de formulario */
.formulario__label {
    display: block; /* Muestra como bloque */
    font-weight: bold; /* Grosor de la fuente */
    padding: 50px; /* Relleno */
    cursor: pointer; /* Cambia el cursor a puntero */
    font-size: 20px; /* Tamaño de la fuente */
    text-align: center; /* Centra el texto */
    padding-left: 110px; /* Relleno izquierdo */
}

/* Estilos para los campos de entrada del formulario */
.formulario__input {
    width: 15%; /* Ancho fijo */
    background: white; /* Fondo blanco */
    border: 2px solid black; /* Borde negro */
    border-radius: 10px; /* Bordes redondeados */
    margin-left: 545px; /* Margen izquierdo */
    margin-bottom: 25px; /* Margen inferior */
    height: 100%; /* Altura completa */
    line-height: 45px; /* Altura de línea */
    padding: 10px 4px 10px 10px; /* Relleno */
    transition: .3s ease all; /* Transición suave */
    box-shadow: 1.5px 1.5px 1.5px #cc5d6a; /* Sombra */
}

/* Estilos para los campos de entrada al enfocarlos */
.formulario__input:focus {
    border: 3px solid greenyellow; /* Borde verde */
    outline: none; /* Sin contorno */
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4); /* Sombra */
}

/* Estilos para el cuarto contenedor */
.container4 {
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra horizontalmente */
    margin-left: 290px; /* Margen izquierdo */
}

/* Estilos para los botones */
button {
    display: block; /* Muestra como bloque */
    margin-left: 35px; /* Margen izquierdo */
    width: 160px; /* Ancho fijo */
    height: 50px; /* Altura fija */
    font-weight: 700; /* Grosor de la fuente */
    border: none; /* Sin borde */
    background: none; /* Sin fondo */
    background-color: #000; /* Fondo negro */
    color: #fff; /* Color del texto */
    cursor: pointer; /* Cambia el cursor a puntero */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para el botón agregar */
.agregar {
    margin-top: -250px; /* Margen superior negativo */
    margin-left: 100px; /* Margen izquierdo */
    /* border: 1px solid #ddd; */ /* Borde comentado */
}

/* Estilos para el menú */

/* Estilos para los encabezados h1 */
h1 {
    color: greenyellow; /* Color del texto */
    padding-top: 8px; /* Relleno superior */
    padding-left: 100px; /* Relleno izquierdo */
    font-family: Freestyle Script; /* Fuente personalizada */
    font-size: 50px; /* Tamaño de la fuente */
    margin-bottom: -20px; /* Margen inferior negativo */
    padding-bottom: -15px; /* Relleno inferior negativo */
    background: none; /* Sin fondo */
}

/* Estilos para la barra superior */
.container-BarraSuperior {
    width: 1424px; /* Ancho fijo */
    height: -60px; /* Altura negativa */
    margin-top: -40px; /* Margen superior negativo */
    background-color: #000; /* Fondo negro */
    margin-left: -75px; /* Margen izquierdo negativo */
    margin-right: -74px; /* Margen derecho negativo */
    padding-top: 28px; /* Relleno superior */
    padding-bottom: -120px; /* Relleno inferior negativo */
    position: fixed; /* Posición fija */
    z-index: 1; /* Índice z */
}

/* Estilos para los iconos del carrito */
.icon-cart,
.icon-cart2,
.icon-cart3 {
    width: 40px; /* Ancho fijo */
    height: 40px; /* Altura fija */
    stroke: greenyellow; /* Color del trazo */
}

.icon-cart {
    margin-top: -90px; /* Margen superior negativo */
    margin-left: 1360px; /* Margen izquierdo */
    margin-bottom: 45px; /* Margen inferior */
}

.icon-cart2 {
    margin-top: -60px; /* Margen superior negativo */
    margin-left: 1290px; /* Margen izquierdo */
    margin-bottom: 0.4%; /* Margen inferior */
}

.icon-cart3 {
    margin-top: -70px; /* Margen superior negativo */
    margin-left: 1210px; /* Margen izquierdo */
    margin-bottom: 1.8%; /* Margen inferior */
}

/* Estilos al pasar el ratón por los iconos del carrito */
.icon-cart:hover {
    cursor: pointer; /* Cambia el cursor a puntero */
}

/* Estilos para las imágenes */
img {
    max-width: 100%; /* Ancho máximo completo */
}

/* Estilos para el encabezado */
header {
    display: flex; /* Utiliza flexbox */
    justify-content: space-between; /* Espacio entre elementos */
    padding: 30px 0 40px 0; /* Relleno */
}

/* Estilos para el contenedor de iconos */
.container-icon {
    position: relative; /* Posición relativa */
}

/* Estilos para el contador de productos */
.count-products {
    position: absolute; /* Posición absoluta */
    top: -250%; /* Posición superior */
    right: 2%; /* Posición derecha */
    bottom: 30%; /* Posición inferior */
    background-color: black; /* Fondo negro */
    color: white; /* Color del texto */
    width: 25px; /* Ancho fijo */
    height: 25px; /* Altura fija */
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    border-radius: 50%; /* Bordes redondeados */
}

/* Estilos para el número del contador */
#contador-productos {
    font-size: 16px; /* Tamaño de la fuente */
    font-family: 'Times New Roman', Times, serif; /* Fuente personalizada */
}

/* Estilos para el contenedor de productos del carrito */
.container-cart-products {
    position: absolute; /* Posición absoluta */
    top: 50px; /* Posición superior */
    right: 0; /* Posición derecha */
    background-color: #fff; /* Fondo blanco */
    width: 400px; /* Ancho fijo */
    z-index: 1; /* Índice z */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para cada producto en el carrito */
.cart-product {
    display: flex; /* Utiliza flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espacio entre elementos */
    padding: 30px; /* Relleno */
    border-bottom: 1px solid rgba(0, 0, 0, 0.20); /* Borde inferior */
}

/* Estilos para la información del producto en el carrito */
.info-cart-product {
    display: flex; /* Utiliza flexbox */
    justify-content: space-between; /* Espacio entre elementos */
    flex: 0.8; /* Flexibilidad */
}

/* Estilos para el título del producto en el carrito */
.titulo-producto-carrito {
    font-size: 20px; /* Tamaño de la fuente */
}

/* Estilos para el precio del producto en el carrito */
.precio-producto-carrito {
    font-weight: 700; /* Grosor de la fuente */
    font-size: 20px; /* Tamaño de la fuente */
    margin-left: 10px; /* Margen izquierdo */
}

/* Estilos para la cantidad del producto en el carrito */
.cantidad-producto-carrito {
    font-weight: 400; /* Grosor de la fuente */
    font-size: 20px; /* Tamaño de la fuente */
    padding-right: 10px; /* Relleno derecho */
}

/* Estilos para el icono de cerrar */
.icon-close {
    width: 25px; /* Ancho fijo */
    height: 25px; /* Altura fija */
}

/* Estilos al pasar el ratón por el icono de cerrar */
.icon-close:hover {
    stroke: red; /* Color del trazo */
    cursor: pointer; /* Cambia el cursor a puntero */
}

/* Estilos para el total del carrito */
.cart-total {
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 20px 0; /* Relleno */
    gap: 20px; /* Espacio entre elementos */
}

/* Estilos para el encabezado del total del carrito */
.cart-total h3 {
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: 700; /* Grosor de la fuente */
}

/* Estilos para el total a pagar */
.total-pagar {
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: 900; /* Grosor de la fuente */
}

/* Estilos para ocultar el carrito */
.hidden-cart {
    display: none; /* Oculta el elemento */
}

/* Estilos para el botón finalizar compra */
.finalizar-compra {
    border: none; /* Sin borde */
    background: none; /* Sin fondo */
    background-color: #000; /* Fondo negro */
    color: #fff; /* Color del texto */
    padding: 15px 10px; /* Relleno */
    cursor: pointer; /* Cambia el cursor a puntero */
    margin-left: 120px; /* Margen izquierdo */
    margin-bottom: 15px; /* Margen inferior */
    border-radius: 30px; /* Bordes redondeados */
}

/* Estilos para la sección de reseñas */
.reviews-section {
    background-color: #f8f9fa; /* Fondo gris claro */
    padding: 20px; /* Relleno */
    margin: 20px 0; /* Márgenes superior e inferior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el encabezado de la sección de reseñas */
.reviews-section h2 {
    text-align: center; /* Centra el texto */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Margen inferior */
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
    font-size: 24px; /* Tamaño de la fuente */
}

/* Estilos para cada reseña */
.review {
    background: #ffffff; /* Fondo blanco */
    padding: 15px; /* Relleno */
    margin-bottom: 15px; /* Margen inferior */
    border-radius: 8px; /* Bordes redondeados */
    border-left: 5px solid #2ff12f; /* Borde izquierdo verde */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el encabezado de cada reseña */
.review h3 {
    margin: 0 0 10px; /* Márgenes */
    color: #000000; /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
}

/* Estilos para el párrafo de cada reseña */
.review p {
    color: #555; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    line-height: 1.5; /* Altura de línea */
}

/* Estilos para la calificación */
.rating {
    margin-top: 10px; /* Margen superior */
}

/* Estilos para los elementos de la calificación */
.rating span {
    font-size: 18px; /* Tamaño de la fuente */
    color: #ffc107; /* Color del texto */
}
