/* Restablece márgenes, rellenos y establece el modelo de caja para todos los elementos y pseudo-elementos */
*,
*::before,
*::after {
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina rellenos */
  box-sizing: border-box; /* Incluye bordes y rellenos en el tamaño total del elemento */
}

/* Estilos para el cuerpo del documento */
body {
  height: 100vh; /* Altura de la ventana gráfica */
  background-color: #e9e9f0; /* Color de fondo gris claro */
  display: grid; /* Utiliza grid layout */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

/* Estilos para el encabezado h1 */
h1 {
  font-family: Freestyle Script; /* Fuente personalizada */
  font-size: 50px; /* Tamaño de fuente */
  width: 1366px; /* Ancho del elemento */
  margin-top: -240px; /* Margen superior negativo */
  height: 80px; /* Altura del elemento */
  border-radius: 0px; /* Sin bordes redondeados */
  background-color: rgb(0, 0, 0); /* Fondo negro */
  color: greenyellow; /* Color del texto verde amarillento */
  padding-top: 15px; /* Relleno superior */
  text-align: center; /* Centra el texto */
}

/* Estilos para el contenedor principal */
.container {
  font-family: 'Times New Roman', Times, serif; /* Fuente personalizada */
  font-size: 25px; /* Tamaño de fuente */
  max-width: 600px; /* Ancho máximo del contenedor */
  margin: 30px auto; /* Márgenes superior/inferior y centrado horizontal */
  padding: 20px; /* Relleno */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra del contenedor */
  color: black; /* Color del texto */
  text-align: center; /* Centra el texto */
  margin-top: -300px; /* Margen superior negativo */
}

/* Estilos para los subtítulos h2 */
h2 {
  margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para los párrafos */
p {
  margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para las imágenes */
img {
  width: 80px; /* Ancho de la imagen */
  height: 80px; /* Altura de la imagen */
  margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para el botón de dirigir a la factura */
.btn-DirigirFactura {
  width: 120px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  font-family: 'Times New Roman', Times, serif; /* Fuente personalizada */
  font-size: 20px; /* Tamaño de fuente */
  background-color: black; /* Fondo negro */
  color: #ffffff; /* Color del texto blanco */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para el botón al pasar el ratón por encima */
.btn-DirigirFactura:hover {
  box-shadow: 0 0 10px rgba(175, 243, 4, 0.904); /* Sombra del botón */
  transition: 0.2s; /* Transición suave */
  background-color: rgb(35, 235, 35); /* Fondo verde */
  color: black; /* Color del texto negro */
}
